<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dmangin.follow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>8F2A1C3E-5B7D-4E9F-A1B2-C3D4E5F60718</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4E5F6A7-B8C9-4D0E-9F1A-2B3C4D5E6F70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E840F4C-361A-445B-BC93-AFC2A948678F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87E95242-DAEC-4871-874C-438901BB285D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC4F345C-879E-409D-AF43-6D111E01C152</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BE1B11E-EEA8-46BD-A8AF-9CDA9A18C6F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4D7844D-A642-481E-BEE4-D032AD254C27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7C1E2F3-4B5D-4E6F-8A9B-0C1D2E3F4A5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Damien Mangin</string>
	<key>description</key>
	<string>Liens et tâches de suivi NotePlan depuis Slack et Gmail (Wavebox)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Follow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript "/Users/dmangin/dev/utils/2609-alfred-jxa/workflows/follow/follow.js" mail-task "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4BE1B11E-EEA8-46BD-A8AF-9CDA9A18C6F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript "/Users/dmangin/dev/utils/2609-alfred-jxa/workflows/follow/follow.js" mail-task 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>87E95242-DAEC-4871-874C-438901BB285D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>,</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.bookry.wavebox</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8F2A1C3E-5B7D-4E9F-A1B2-C3D4E5F60718</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>com.bookry.wavebox</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9E840F4C-361A-445B-BC93-AFC2A948678F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript "/Users/dmangin/dev/utils/2609-alfred-jxa/workflows/follow/follow.js" slack-task "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7C1E2F3-4B5D-4E6F-8A9B-0C1D2E3F4A5B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fe</string>
				<key>subtext</key>
				<string>arg=&lt;days from now&gt; &lt;priority&gt; &lt;action&gt;, ex "fe 2 !!! voir XX"</string>
				<key>text</key>
				<string>Follow Email</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC4F345C-879E-409D-AF43-6D111E01C152</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fs</string>
				<key>subtext</key>
				<string>fs &lt;jours&gt; &lt;priorité&gt; &lt;action&gt;, ex « fs 2 !!! répondre » — tout optionnel</string>
				<key>text</key>
				<string>Follow Slack</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D4D7844D-A642-481E-BEE4-D032AD254C27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript "/Users/dmangin/dev/utils/2609-alfred-jxa/workflows/follow/follow.js" slack-copy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4E5F6A7-B8C9-4D0E-9F1A-2B3C4D5E6F70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>⌥⌘, : lien du message Slack survolé -&gt; presse-papier + active NotePlan (Cmd+V manuel).
fs &lt;jours&gt; &lt;prio&gt; &lt;action&gt; : tâche de suivi pour ce message Slack.
⌥⇧T : tâche de suivi du jour pour le mail courant ; fe &lt;jours&gt; &lt;prio&gt; &lt;action&gt; : idem à J+N.
Jours ouvrés : un samedi/dimanche compte comme le lundi suivant.

Scripts : /Users/dmangin/dev/utils/2609-alfred-jxa/workflows/follow/follow.js (repo 2609-alfred-jxa).</string>
	<key>uidata</key>
	<dict>
		<key>4BE1B11E-EEA8-46BD-A8AF-9CDA9A18C6F9</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>87E95242-DAEC-4871-874C-438901BB285D</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>8F2A1C3E-5B7D-4E9F-A1B2-C3D4E5F60718</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>9E840F4C-361A-445B-BC93-AFC2A948678F</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>A7C1E2F3-4B5D-4E6F-8A9B-0C1D2E3F4A5B</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>BC4F345C-879E-409D-AF43-6D111E01C152</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>D4D7844D-A642-481E-BEE4-D032AD254C27</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>D4E5F6A7-B8C9-4D0E-9F1A-2B3C4D5E6F70</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Wavebox</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Must be an installed browser, ex: Wavebox, Google Chrome...</string>
			<key>label</key>
			<string>Gmail's client (browser) to use</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gca_conf_gmail_app</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Add task to today's note (VS a special note)</string>
			</dict>
			<key>description</key>
			<string>True (default) : Noteplan Tasks created from gmail will be appended to the daily note
False : Tasks will be appended on the top of the special "Inbox" note</string>
			<key>label</key>
			<string>Append to daily note?</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>gca_conf_mode_today</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>📥 Inbox</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The name of the special note in which append the task, if modeToday = false</string>
			<key>label</key>
			<string>Inbox note's name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gca_conf_inbox_note</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Adresse du compte Gmail : départage plusieurs comptes ouverts (vide = premier onglet Gmail).</string>
			<key>label</key>
			<string>Compte Gmail</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gca_conf_gmail_account</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
