<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dmangin.paste</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0CCE071E-FAE9-45FF-8B6C-92560C4D4021</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>899EC211-9DCF-43E3-A080-04042F40D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F925913-B508-4794-9357-9C3E4BA8FBAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>899EC211-9DCF-43E3-A080-04042F40D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12C0B5AB-56EE-4B7A-BD0D-786C4E1A1332</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8471CBE-002E-4A5C-9910-53AD0C19227E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A4A45E5-098E-44C1-978A-C181F97067A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAFDB05A-C8E5-4A27-B787-BD8705DF29C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>654E0A33-1C71-402E-9129-4E4575432CF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>826DAB07-115B-4DB1-9863-3714A66EAB14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65B49049-84C5-4A17-A992-4CAA36315D1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F925913-B508-4794-9357-9C3E4BA8FBAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7109AD32-DBA7-4A1C-93CA-DBB6A7A3FC9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CCE071E-FAE9-45FF-8B6C-92560C4D4021</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77543EE8-B256-4F22-B52B-F26FA7FC5572</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F925913-B508-4794-9357-9C3E4BA8FBAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>826DAB07-115B-4DB1-9863-3714A66EAB14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84530062-53BB-43E9-8715-165D1DC969C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84530062-53BB-43E9-8715-165D1DC969C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CCE071E-FAE9-45FF-8B6C-92560C4D4021</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91111E51-94F8-42ED-8DA2-A2B7C9556694</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84530062-53BB-43E9-8715-165D1DC969C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2D72455-F5C3-4310-B034-BB7C2D60D599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91111E51-94F8-42ED-8DA2-A2B7C9556694</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4855B13-F015-4C57-B89E-BD7A00FB0834</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84530062-53BB-43E9-8715-165D1DC969C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C55C9D62-D0AF-4784-AC20-05E96DB3A6AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84530062-53BB-43E9-8715-165D1DC969C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6615FBB-42B7-49DC-92A2-4467FFCE8C46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4855B13-F015-4C57-B89E-BD7A00FB0834</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8471CBE-002E-4A5C-9910-53AD0C19227E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84530062-53BB-43E9-8715-165D1DC969C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF0E873E-AA6F-4DAF-860A-D58BE0D13467</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C55C9D62-D0AF-4784-AC20-05E96DB3A6AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAFDB05A-C8E5-4A27-B787-BD8705DF29C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7109AD32-DBA7-4A1C-93CA-DBB6A7A3FC9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Damien Mangin</string>
	<key>description</key>
	<string>Colle le lien de l’onglet Wavebox (::mp, ::wb) ou une date J+N ouvrés (sdn, sd2d…sd6d)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript "/Users/dmangin/dev/utils/2609-alfred-jxa/workflows/paste/paste.js" date</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CCE071E-FAE9-45FF-8B6C-92560C4D4021</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript "/Users/dmangin/dev/utils/2609-alfred-jxa/workflows/paste/paste.js" link</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F925913-B508-4794-9357-9C3E4BA8FBAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sd6d</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>12C0B5AB-56EE-4B7A-BD0D-786C4E1A1332</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sdn</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>5A4A45E5-098E-44C1-978A-C181F97067A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sd2d</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>654E0A33-1C71-402E-9129-4E4575432CF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>::mp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>65B49049-84C5-4A17-A992-4CAA36315D1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>pasteDate</string>
					<key>numdays</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7109AD32-DBA7-4A1C-93CA-DBB6A7A3FC9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>::wb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>77543EE8-B256-4F22-B52B-F26FA7FC5572</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>pasteDate</string>
					<key>numdays</key>
					<string>2</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>826DAB07-115B-4DB1-9863-3714A66EAB14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>84530062-53BB-43E9-8715-165D1DC969C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>899EC211-9DCF-43E3-A080-04042F40D7C7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>pasteDate</string>
					<key>numdays</key>
					<string>5</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>91111E51-94F8-42ED-8DA2-A2B7C9556694</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sd5d</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>B2D72455-F5C3-4310-B034-BB7C2D60D599</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>pasteDate</string>
					<key>numdays</key>
					<string>3</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C4855B13-F015-4C57-B89E-BD7A00FB0834</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>pasteDate</string>
					<key>numdays</key>
					<string>4</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C55C9D62-D0AF-4784-AC20-05E96DB3A6AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sd3d</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>C6615FBB-42B7-49DC-92A2-4467FFCE8C46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>pasteDate</string>
					<key>numdays</key>
					<string>6</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D8471CBE-002E-4A5C-9910-53AD0C19227E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sd4d</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>EF0E873E-AA6F-4DAF-860A-D58BE0D13467</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>(empty for 0)</string>
				<key>text</key>
				<string>Nombre de jours</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FAFDB05A-C8E5-4A27-B787-BD8705DF29C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Scripts : /Users/dmangin/dev/utils/2609-alfred-jxa/workflows/paste/paste.js (repo 2609-alfred-jxa). La date lit la variable numdays.</string>
	<key>uidata</key>
	<dict>
		<key>0CCE071E-FAE9-45FF-8B6C-92560C4D4021</key>
		<dict>
			<key>xpos</key>
			<real>630.0</real>
			<key>ypos</key>
			<real>450.0</real>
		</dict>
		<key>0F925913-B508-4794-9357-9C3E4BA8FBAF</key>
		<dict>
			<key>xpos</key>
			<real>630.0</real>
			<key>ypos</key>
			<real>90.0</real>
		</dict>
		<key>12C0B5AB-56EE-4B7A-BD0D-786C4E1A1332</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>870.0</real>
		</dict>
		<key>5A4A45E5-098E-44C1-978A-C181F97067A3</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>insert "{date + numdays}" at the cursor position</string>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>270.0</real>
		</dict>
		<key>654E0A33-1C71-402E-9129-4E4575432CF6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>390.0</real>
		</dict>
		<key>65B49049-84C5-4A17-A992-4CAA36315D1C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>30.0</real>
		</dict>
		<key>7109AD32-DBA7-4A1C-93CA-DBB6A7A3FC9E</key>
		<dict>
			<key>note</key>
			<string>set `command` var to "pasteDate", `numdays` var to number of days from now</string>
			<key>xpos</key>
			<real>430.0</real>
			<key>ypos</key>
			<real>270.0</real>
		</dict>
		<key>77543EE8-B256-4F22-B52B-F26FA7FC5572</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>insert at the cursor position a link to the active WaveBox url (gmail...)</string>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>150.0</real>
		</dict>
		<key>826DAB07-115B-4DB1-9863-3714A66EAB14</key>
		<dict>
			<key>xpos</key>
			<real>230.0</real>
			<key>ypos</key>
			<real>390.0</real>
		</dict>
		<key>84530062-53BB-43E9-8715-165D1DC969C3</key>
		<dict>
			<key>xpos</key>
			<real>430.0</real>
			<key>ypos</key>
			<real>630.0</real>
		</dict>
		<key>899EC211-9DCF-43E3-A080-04042F40D7C7</key>
		<dict>
			<key>note</key>
			<string>Auto-paste</string>
			<key>xpos</key>
			<real>830.0</real>
			<key>ypos</key>
			<real>270.0</real>
		</dict>
		<key>91111E51-94F8-42ED-8DA2-A2B7C9556694</key>
		<dict>
			<key>xpos</key>
			<real>230.0</real>
			<key>ypos</key>
			<real>750.0</real>
		</dict>
		<key>B2D72455-F5C3-4310-B034-BB7C2D60D599</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>750.0</real>
		</dict>
		<key>C4855B13-F015-4C57-B89E-BD7A00FB0834</key>
		<dict>
			<key>xpos</key>
			<real>230.0</real>
			<key>ypos</key>
			<real>510.0</real>
		</dict>
		<key>C55C9D62-D0AF-4784-AC20-05E96DB3A6AE</key>
		<dict>
			<key>xpos</key>
			<real>230.0</real>
			<key>ypos</key>
			<real>630.0</real>
		</dict>
		<key>C6615FBB-42B7-49DC-92A2-4467FFCE8C46</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>510.0</real>
		</dict>
		<key>D8471CBE-002E-4A5C-9910-53AD0C19227E</key>
		<dict>
			<key>xpos</key>
			<real>230.0</real>
			<key>ypos</key>
			<real>870.0</real>
		</dict>
		<key>EF0E873E-AA6F-4DAF-860A-D58BE0D13467</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>630.0</real>
		</dict>
		<key>FAFDB05A-C8E5-4A27-B787-BD8705DF29C8</key>
		<dict>
			<key>xpos</key>
			<real>230.0</real>
			<key>ypos</key>
			<real>270.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Adresse du compte Gmail : départage plusieurs comptes ouverts (vide = premier onglet Gmail).</string>
			<key>label</key>
			<string>Compte Gmail</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gca_conf_gmail_account</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Wavebox</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Must be an installed browser, ex: Wavebox, Google Chrome...</string>
			<key>label</key>
			<string>Gmail's client (browser) to use</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gca_conf_gmail_app</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
